%h2
  %em.fa.fa-exclamation-triangle
  = t '.title'

= form_for @moderation, url: { action: :destroy },
  html: { method: :delete } do |f|
  .field.required{ title: t('.reason_r_0_long') }
    = f.label :reason
    %span.radios
      = radio_button_tag :reason, :r_0, params[:event] == 'reason_r_0'
      = label_tag :reason_r_0, t('.reason_r_0')
      = radio_button_tag :reason, :r_1, params[:event] == 'reason_r_1'
      = label_tag :reason_r_1, t('.reason_r_1')
      = radio_button_tag :reason, :r_2, params[:event] == 'reason_r_2'
      = label_tag :reason_r_2, t('.reason_r_2')
      = radio_button_tag :reason, :r_3, params[:event] == 'reason_r_3'
      = label_tag :reason_r_3, t('.reason_r_3')
      = radio_button_tag :reason, :r_4,
        params[:event] == 'reason_r_4' || !params[:event]
      = label_tag :reason_r_4, t('.reason_r_4')

  .field.reason
    = f.label :reason
    = f.text_area :reason, cols: 40, rows: 5

  .actions
    = link_to moderations_path do
      %em.fa.fa-arrow-left
      = t '.ko'

    = button_tag do
      %em.fa.fa-thumbs-down
      = t '.ok'

%fieldset
  %legend
    %em.fa.fa-calendar
    = Event.model_name.human
  = render file: '/events/show'
