- params[:q] = {} if params[:q].nil?
- p = params[:q].clone.permit

%ul.counters
  -# The reorder and specific count are required for the "near" scope
  - @unfiltered_orgas.reorder('').group(:kind).count.each do |kind, count|
    - p[:kind_id_eq] = kind.id
    %li{ title: Kind.human_attribute_name("name_#{kind.name}") }
      = link_to orgas_url(q: p) do
        %em.fa{ class: "fa-#{kind.icon}" }
        = count

  %li{ title: Kind.human_attribute_name('active').pluralize }
    - p[:kind_id_eq] = params[:q][:kind_id_eq]
    - p[:active_eq] = true
    |
    = link_to orgas_url(q: p) do
      %em.fa.fa-heartbeat
      = @unfiltered_orgas.active.count
