%h2
  %em.fa.fa-map
  = t 'layouts.application.map'
  %em.fa{ class: "fa-#{@kind.icon}" }
  = Kind.human_attribute_name("name_#{@kind.name}")
  - if params[:tag]
    %em.fa.fa-tag
    %em= params[:tag]

%ul.list#map
  %li
    = link_to map_path @kind.name, format: :json do
      %em.fa{ class: "fa-#{@kind.icon}" }
      = Kind.human_attribute_name("name_#{@kind.name}")
