= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :login
    = f.text_field :login
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :lastname
    = f.text_field :lastname
  .field
    = f.label :firstname
    = f.text_field :firstname
  .actions
    = f.submit 'Save'
