!= t '.body', subject: @orga.name
= surround '<'.html_safe, '>'.html_safe do
  = edit_orga_url @orga, secret: @orga.secret
\
!= t '.delete_link'
= surround '<'.html_safe, '>'.html_safe do
  = cancel_orga_url @orga, secret: @orga.secret
\
!= t '.signature'
