%li.event{ title: display_date(event) }
  - if event.locality?
    %em.locality.fa.fa-globe
  - if event.tags.any? { |t| t.name.include? 'libre-en-fete' }
    = image_tag 'lef-small.png', alt: 'LEF', width: 16, height: 16
  = link_to event do
    %strong.city{ title: event.address }= event.city
    = event.title
    - if event.repeat > 0
      %em.fa.fa-repeat{ title: event.schedule }
