- set_event_meta

- if @event.tags.any? { |t| t.name.include? 'libre-en-fete' }
  Cet événement s'inscrit dans le cadre de
  %a(href='https://www.libre-en-fete.net')
    = image_tag 'lef.png', width: '180', height: '60', alt: 'Libre en Fete',
      style: 'vertical-align: middle'

%h2
  - if @event.locality?
    %em.locality.fa.fa-globe{ title: t('attributes.locality_1') }
  - else
    %em.locality.fa.fa-shield-alt{ title: t('attributes.locality_0') }
  %em.city{ title: @event.full_address }= @event.city
  = title @event.title

- if controller.controller_name == 'events' && controller.action_name == 'show'
  %aside#orga-list
    - if @event.region.present? && @event.region.orgas.present?
      %h1{ title: @event.region }
        = link_to orgas_path region: @event.region do
          %em.fa.fa-users
          = t '.orga-list'
      %ul.fa-ul
        - @event.region.orgas.select(&:active).each do |orga|
          %li
            = link_to orga do
              - if orga.kind
                %em.fa.fa-li{ class: "fa-#{orga.kind.icon}",
                  title: Kind.human_attribute_name("name_#{orga.kind.name}") }
              = orga.name
              = image_tag orga.url + '/favicon.ico', alt: '', class: :favicon

    %h1
      %em.fa.fa-wrench
      = t '.actions'
    %h2
      = link_to event_path @event, protocol: :webcal, format: :ics do
        %em.fa.fa-lg.fa-calendar
        = t '.add_to_calendar'
    %h2
      = link_to preview_events_path(event: { title: @event.title,
        start_time: @event.start_time + 1.month,
        end_time: @event.end_time + 1.month,
        description: @event.description,
        place_name: @event.place_name,
        address: @event.address,
        city: @event.city,
        region_id: @event.region.id,
        locality: @event.locality,
        url: @event.url,
        tag_list: @event.tag_list.to_s }),
        method: :post do
        %em.fa.fa-copy
        = t '.copy'
    - if user_signed_in?
      %h2
        = link_to edit_moderation_path @event do
          %em.fa.fa-lg.fa-edit
          = t '.edit'
      %h2
        = link_to cancel_event_path @event, secret: @event.secret do
          %em.fa.fa-lg.fa-thumbs-down
          = t '.cancel'

%h3= t '.dateAndPlace'

%p= display_date

%p.full_address
  - if @event.place_name.present?
    %span= @event.place_name
  - if @event.address.present?
    %span= @event.address
  %span= link_to @event.city,
    "https://fr.wikipedia.org/wiki/#{url_encode @event.city}"
  %span= link_to @event.region.try(:name),
    "https://fr.wikipedia.org/wiki/#{url_encode @event.region.try :name}"

- if @event.latitude && @event.longitude
  .event#map{ data: { url: maps_path(format: :json),
    latitude: @event.latitude, longitude: @event.longitude } }

- elsif controller.action_name != 'show'
  %em.fa.fa-compress
  %em
    = raw t '.noMap'
    %a{ href: 'https://osm.org/search?query=' + @event.full_address }
      %img(src='https://www.openstreetmap.org/assets/osm_logo.png'
        alt='OSM logo' width='22px')

%h3= t '.description'
.description
  = description sanitize @event.description,
    tags: %w[p h1 h2 h3 h4 br table tr th td ul ol li a strong b em i img sub sup span],
    attributes: %w[href src width height style title]

%h3
  %em.fa.fa-info-circle
  = t '.infos'
- if @event.url.present?
  %p
    %em.fa.fa-external-link-alt
    %span.label= Event.human_attribute_name :url
    = link_to @event.url, sanitize(@event.url)
- if @event.contact.present?
  %p
    %em.fa.fa-envelope
    %span.label= Event.human_attribute_name :contact
    = mail_to @event.contact, nil,
      encode: (request.format == 'text/html' ? :javascript : nil),
      replace_at: ' CHEZ ', replace_dot: ' POINT '

- if @event.tags && @event.tags.present?
  %p.tags
    %em.fa.fa-tags
    %span.label= Event.human_attribute_name :tags
    - @event.tags.each do |tag|
      = link_to tag, tag_path(tag.name), rel: :tag

- if @event.repeat > 0 && @event.rule
  %h3
    %em.fa.fa-repeat
    = @event.schedule

  - if @event.moderated?
    %ul
      %li= link_to_unless_current @event.event || @event, @event.event || @event
      - (@event.event || @event).events.each do |e|
        %li= link_to_unless_current e, e
