==============================================================================
!= display_attr @event, :title
!= display_attr @event, :start_time, l(@event.start_time, format: :at)
!= display_attr @event, :end_time, l(@event.end_time, format: :at)
!= display_attr @event, :place_name
!= display_attr @event, :address
!= display_attr @event, :city
!= display_attr @event, :region, @event.region
!= display_attr @event, :locality, t("attributes.locality_#{@event.locality}")
!= display_attr @event, :url
- if @event.contact.present?
  != display_attr @event, :contact
!= display_attr @event, :tag_list, @event.tag_list
- if @event.repeat > 0
  = display_attr @event, :repeat
  = display_attr @event, :rule, t(@event.rule, scope: 'activerecord.attributes.event.rule_values')
\
!= to_markdown @event.description, 78
==============================================================================
