!= t '.body', moderator: @current_user
= surround '<'.html_safe, '>'.html_safe do
  = event_url @event
\
!= t '.edit_link'
= surround '<'.html_safe, '>'.html_safe do
  = edit_event_url @event, secret: @event.secret
\
!= t '.delete_link'
= surround '<'.html_safe, '>'.html_safe do
  = cancel_event_url @event, secret: @event.secret
\
- if @event.repeat > 0 && !@event.event_id
  = t '.repeat_helper', count: @event.repeat
  - @event.events.each do |e|
    = e
    = surround '<'.html_safe, '>'.html_safe do
      = edit_event_url e, secret: e.secret
    = surround '<'.html_safe, '>'.html_safe do
      = cancel_event_url e, secret: e.secret
\
!= t '.reminder'
= render file: '/events/show'
\
!= t '.signature'
