header
  nav
    margin-top: -3em
  &:hover nav
    margin-top: 0

.region_filter
  float: right
  font-size: smaller
  & > ul > li
    float: left
  ul
    margin: 0
    z-index: 1500
    list-style: none
    text-align: left
    border-bottom-left-radius: 0.4em
    border-bottom-right-radius: 0.4em
    ul
      position: absolute
      background-color: white
      li
        display: none
        border-top: solid thin #eee
    & li:hover li, li.selected
      display: block
  li
    margin: 0
    &.selected
      box-shadow: 0 0 0 6px lightgray
    a
      padding: 0.3em
      display: inline-block
      white-space: nowrap
    &:hover ul
      box-shadow: 0 4px 4px gray

.radios
  .radios
    display: inline-block
    text-align: left
    background-color: white
    label
      display: none
      padding: 0.2em
    input:checked + label
      display: inline
  .region:hover .radios
    z-index: 1000
    position: absolute
    box-shadow: 0 4px 4px gray
    label
      display: block !important

// Override for the missing quebec flag!
.flag-icon-ca-qc
  background-image: image-url(regions/CA-QC)

body.stats h3
  text-align: center

table.list.dates
  th, td
    padding: 0 0.6em

  .sparkline
    padding: 0
