!!! 5
/[if IE]
%html.no-js{ lang: I18n.locale, class: params[:iframe] ? 'iframe' : '' }
  %head
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    %meta(name='robots' content='index, follow')

    = display_meta_tags site: t('.title')

    = favicon_link_tag '/favicon.ico'
    = auto_discovery_link_tag :rss, controller: '/events', format: :rss

    = stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true,
      type: 'text/javascript'
    = csrf_meta_tags

  - classes = [request.domain ? request.domain.split('.')[0] : '',
    controller.controller_name, controller.action_name]
  %body{ class: classes }
    %header.top
      = render '/regions/filter'
      = image_tag 'baby_gnu_adl.png', alt: '', class: :logo
      = render '/orgas/search'

      %h1= link_to t('.title'), root_path
      %h2= t '.subtitle'

    = render 'layouts/flash', flash: flash if flash.present?

    %main= yield

    %footer.bottom
      %nav
        = link_to new_event_path do
          %em.fa.fa-pencil-alt
          = t '.propose'
        = link_to new_orga_path do
          %em.fa.fa-users
          = t '.propose_orga'
        %br/
        = link_to maps_path do
          %em.fa.fa-map
          = t '.map'
        = link_to tags_path do
          %em.fa.fa-tags
          = t '.tags'
        = link_to orgas_path do
          %em.fa.fa-users
          = Orga.model_name.human.pluralize
        = link_to versions_path do
          %em.fa.fa-history
          = t 'versions.index.title'
        = link_to page_path('infos') do
          %em.fa.fa-info
          = t '.infos'
        = link_to stats_path do
          %em.fa.fa-signal
          = t '.stats'
        = link_to page_path('contact') do
          %em.fa.fa-envelope
          = t '.contact'
        = link_to moderations_path do
          %em.fa.fa-gavel
          = t '.moderation'

    =  piwik_tracking_tag
